.room{

}
.room-head{

}
.room-content{

}

.item_container{
    /* border-style: solid; */
    border-radius: 6px;
    margin:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item_container img{
    height:100px;
    width:100px;
}

.qrcode{
    display:flex;
    justify-content: center;
    width:100%;

}

.qrcode img{
    height:50px;
    width:50px; 
    margin: 10px;
}